@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body {
	height: 100%;
}

.translate-center {
	transform: translate(-50%, -50%);
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.absolute-center {
	position: absolute;
	left: 50%;
	top: 50%;
}

.scroll-snap-ym {
	scroll-snap-type: y mandatory;
}

.scroll-snap-center {
	scroll-snap-align: center;
}

@media (min-width: 768px) {
	.back {
		@apply m-8;
	}
}

.a {
	@apply text-red-600 underline;
	transition: color 0.4s;
}

.a:hover {
	@apply text-red-500;
}

.btn {
	@apply px-4 py-2 font-semibold text-white bg-red-600;
	transition: background-color 0.4s;
}

.btn:hover {
	@apply bg-red-500;
}
